In [28]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print(df.ndim)

1

In [29]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print(df.axes)

[RangeIndex(start=0, stop=50, step=1)]

In [30]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print(df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

In [59]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print(df.head())

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [61]:
import pandas as pd
import numpy as np
df=pd.Series(np.arange(1,51))
print(df.tail(6))
print(df.describe())

44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32
count    50.00000
mean     25.50000
std      14.57738
min       1.00000
25%      13.25000
50%      25.50000
75%      37.75000
max      50.00000
dtype: float64

In [60]:
import pandas as pd
import numpy as np
d={'odd':np.arange(1, 20, 2),
   'even':np.arange(0, 20, 2)}
print("Odd: ", d['odd'])
print("Even: ", d['even'])
df=pd.DataFrame(d)
print("Sum: ", df.sum())

Odd:  [ 1  3  5  7  9 11 13 15 17 19]
Even:  [ 0  2  4  6  8 10 12 14 16 18]
Sum:  odd     100
even     90
dtype: int64

In [64]:
import numpy as np
data = [2,4,4,4,5,5,7,9]
std = np.std(data)
print(std)
variance = np.var(data)
print(variance)

2.0
4.0

In [41]:
import pandas as pd
import numpy as np
d={'odd':np.arange(1, 100, 2),
   'even':np.arange(0, 100, 2)}
print("Odd: ", d['odd'])
print("Even: ", d['even'])
df=pd.DataFrame(d)
print("Mean: ", df.mean())
print("Standard Deviation: ", df.std())
print("Variance: ", df.var())

Odd:  [ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]
Even:  [ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94
 96 98]
Mean:  odd     50.0
even    49.0
dtype: float64
Standard Deviation:  odd     29.154759
even    29.154759
dtype: float64
Variance:  odd     850.0
even    850.0
dtype: float64

In [42]:
import pandas as pd
import numpy as np
# Create a random DataFrame
df = pd.DataFrame(np.random.rand(5, 4), 
                  columns=['col1', 'col2', 'col3', 'col4'])
# Iterate over columns
for key, value in df.items():
    print(key)
    print(value)
    print("------")

col1
0    0.927067
1    0.049353
2    0.706295
3    0.396561
4    0.529994
Name: col1, dtype: float64
------
col2
0    0.073527
1    0.943950
2    0.235198
3    0.515277
4    0.091546
Name: col2, dtype: float64
------
col3
0    0.731077
1    0.170105
2    0.706295
3    0.605017
4    0.583011
Name: col3, dtype: float64
------
col4
0    0.867837
1    0.241529
2    0.930127
3    0.394486
4    0.713306
Name: col4, dtype: float64
------

In [43]:
import pandas as pd
import numpy as np
df =pd.DataFrame(np.random.rand(5, 4),
                 columns=['col1', 'col2', 'col3', 'col4'])
for key, value in df.iterrows():
    print(key, value)

0 col1    0.674396
col2    0.326908
col3    0.240663
col4    0.099831
Name: 0, dtype: float64
1 col1    0.693051
col2    0.446530
col3    0.319536
col4    0.827865
Name: 1, dtype: float64
2 col1    0.831214
col2    0.768733
col3    0.032681
col4    0.214978
Name: 2, dtype: float64
3 col1    0.664684
col2    0.301085
col3    0.397816
col4    0.389968
Name: 3, dtype: float64
4 col1    0.480293
col2    0.655769
col3    0.656617
col4    0.727699
Name: 4, dtype: float64

In [44]:
import pandas as pd
import numpy as np
df =pd.DataFrame(np.random.rand(5, 4), 
                 columns=['col1', 'col2', 'col3', 'col4'])
for row in df.itertuples():
    print(row)

Pandas(Index=0, col1=0.7805850683445797, col2=0.8155746052983278, col3=0.36817428105757743, col4=0.008404899883103667)
Pandas(Index=1, col1=0.1366612849198019, col2=0.41637124597584885, col3=0.06450292142521508, col4=0.6857684684175288)
Pandas(Index=2, col1=0.13052521272810969, col2=0.476054444790171, col3=0.7248112175112964, col4=0.657740711401399)
Pandas(Index=3, col1=0.7437264510428588, col2=0.7569685141760957, col3=0.46422193515876, col4=0.19400693799812663)
Pandas(Index=4, col1=0.23965700372774978, col2=0.48712002322633663, col3=0.5294497548134062, col4=0.6712440094247247)

In [45]:
import pandas as pd
world_cup={'Team':['West Indies','West indies','India',
                   'Australia','Pakistan','Sri Lanka',
                   'Australia','Australia','Australia',
                   'India','Australia'],       
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,
                   2003,2007,2011,2015]
          }
df=pd.DataFrame(world_cup)
print(df.groupby('Team').groups)

{'Australia': [3, 6, 7, 8, 10], 'India': [2, 9], 'Pakistan': [4], 'Sri Lanka': [5], 'West Indies': [0], 'West indies': [1]}

In [46]:
import pandas as pd
world_cup={'Team':['West Indies','West indies','India',
                   'Australia','Pakistan','Sri Lanka',
                   'Australia','Australia','Australia',
                   'India','Australia'],           
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,
                   2003,2007,2011,2015]
          }
df=pd.DataFrame(world_cup)
print(df.groupby(['Team', 'Rank']).groups)

{('Australia', 1): [3, 6, 7, 8, 10], ('India', 2): [2, 9], ('Pakistan', 6): [4], ('Sri Lanka', 4): [5], ('West Indies', 7): [0], ('West indies', 7): [1]}

In [47]:
import pandas as pd
world_cup={'Team':['West Indies','West indies','India',
                   'Australia','Pakistan','Sri Lanka',
                   'Australia','Australia','Australia',
                   'India','Australia'],      
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,
                   2003,2007,2011,2015]
          }
df=pd.DataFrame(world_cup)
grouped= df.groupby('Team')
for name,group in grouped:
    print(name)

Australia
India
Pakistan
Sri Lanka
West Indies
West indies

In [48]:
import pandas as pd
world_cup={'Team':['West Indies','West indies','India',
                   'Australia','Pakistan','Sri Lanka',
                   'Australia','Australia','Australia',
                   'India','Australia'],    
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,
                   2003,2007,2011,2015]
          }
df=pd.DataFrame(world_cup)
grouped= df.groupby('Team')
print(grouped.get_group('India'))

    Team  Rank  Year
2  India     2  1983
9  India     2  2011

In [49]:
import pandas as pd
world_cup={'Team':['West Indies','West indies','India',
                   'Australia','Pakistan','Sri Lanka',
                   'Australia','Australia','Australia',
                   'India','Australia'],           
           'Rank':[7,7,2,1,6,4,1,1,1,2,1],
           'Year':[1975,1979,1983,1987,1992,1996,1999,
                   2003,2007,2011,2015]
          }
df=pd.DataFrame(world_cup)
print(df.groupby(['Team','Rank']).count())

                  Year
Team        Rank
Australia   1        5
India       2        2
Pakistan    6        1
Sri Lanka   4        1
West Indies 7        1
West indies 7        1

In [50]:
import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.concat([df1,df2]))#This code concatenates world_champions and chokers

           Team  ICC_rank  World_champions_Year  Points
0         India         2                2011.0     874
1     Australia         3                2015.0     787
2   West Indies         7                1979.0     753
3      Pakistan         8                1992.0     673
4     Sri Lanka         4                1996.0     855
0  South Africa         1                   NaN     895
1   New Zealand         5                   NaN     764
2      Zimbabwe         9                   NaN     656

In [51]:
import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.concat([df1,df2], axis=1))

          Team  ICC_rank  World_champions_Year  Points          Team  \
0        India         2                  2011     874  South Africa
1    Australia         3                  2015     787   New Zealand
2  West Indies         7                  1979     753      Zimbabwe
3     Pakistan         8                  1992     673           NaN
4    Sri Lanka         4                  1996     855           NaN

   ICC_rank  Points
0       1.0   895.0
1       5.0   764.0
2       9.0   656.0
3       NaN     NaN
4       NaN     NaN

In [52]:
import pandas as pd

# World champions dataset
world_champions = {
    'Team': ['India', 'Australia', 'West Indies', 'Pakistan', 'Sri Lanka'],
    'ICC_rank': [2, 3, 7, 8, 4],
    'World_champions_Year': [2011, 2015, 1979, 1992, 1996],
    'Points': [874, 787, 753, 673, 855]
}

# Chokers dataset
chokers = {
    'Team': ['South Africa', 'New Zealand', 'Zimbabwe'],
    'ICC_rank': [1, 5, 9],
    'Points': [895, 764, 656]
}

# Create DataFrames
df1 = pd.DataFrame(world_champions)
df2 = pd.DataFrame(chokers)

# Combine DataFrames
df = pd.concat([df1, df2], ignore_index=True)

print(df)

           Team  ICC_rank  World_champions_Year  Points
0         India         2                2011.0     874
1     Australia         3                2015.0     787
2   West Indies         7                1979.0     753
3      Pakistan         8                1992.0     673
4     Sri Lanka         4                1996.0     855
5  South Africa         1                   NaN     895
6   New Zealand         5                   NaN     764
7      Zimbabwe         9                   NaN     656

In [53]:
import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(df1.merge(df2))

Empty DataFrame
Columns: [Team, ICC_rank, World_champions_Year, Points]
Index: []

In [54]:
import pandas
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2, on='Team'))

Empty DataFrame
Columns: [Team, ICC_rank_x, World_champions_Year, Points_x, ICC_rank_y, Points_y]
Index: []

In [55]:
import pandas
#Creating the World Champions DataFrame
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
#Creating the Chokers DataFrame
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='left' ))

          Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0        India           2                  2011       874         NaN
1    Australia           3                  2015       787         NaN
2  West Indies           7                  1979       753         NaN
3     Pakistan           8                  1992       673         NaN
4    Sri Lanka           4                  1996       855         NaN

   Points_y
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

In [56]:
import pandas
#Creating the World Champions DataFrame
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
#Creating the Chokers DataFrame
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='right' ))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0  South Africa         NaN                   NaN       NaN           1
1   New Zealand         NaN                   NaN       NaN           5
2      Zimbabwe         NaN                   NaN       NaN           9

   Points_y
0       895
1       764
2       656

In [57]:
import pandas
#Creating the World Champions DataFrame
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
#Creating the Chokers DataFrame
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='inner' ))

Empty DataFrame
Columns: [Team, ICC_rank_x, World_champions_Year, Points_x, ICC_rank_y, Points_y]
Index: []

In [58]:
import pandas
#Creating the World Champions DataFrame
world_champions={'Team':['India','Australia','West Indies','Pakistan','Sri Lanka'],
                 'ICC_rank':[2,3,7,8,4],
                 'World_champions_Year':[2011,2015,1979,1992,1996],
                 'Points':[874,787,753,673,855]}
#Creating the Chokers DataFrame
chokers={'Team':['South Africa','New Zealand','Zimbabwe'],
         'ICC_rank':[1,5,9],
         'Points':[895,764,656]}
df1=pandas.DataFrame(world_champions)
df2=pandas.DataFrame(chokers)
print(pandas.merge(df1,df2,on='Team',how='outer' ))

           Team  ICC_rank_x  World_champions_Year  Points_x  ICC_rank_y  \
0     Australia         3.0                2015.0     787.0         NaN
1         India         2.0                2011.0     874.0         NaN
2   New Zealand         NaN                   NaN       NaN         5.0
3      Pakistan         8.0                1992.0     673.0         NaN
4  South Africa         NaN                   NaN       NaN         1.0
5     Sri Lanka         4.0                1996.0     855.0         NaN
6   West Indies         7.0                1979.0     753.0         NaN
7      Zimbabwe         NaN                   NaN       NaN         9.0

   Points_y
0       NaN
1       NaN
2     764.0
3       NaN
4     895.0
5       NaN
6       NaN
7     656.0