In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv("C:/Users/Edunet Foundation/Desktop/retail_sales_dataset.csv")

In [4]:
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,16-05-2023,CUST996,Male,62,Clothing,1,50,50
996,997,17-11-2023,CUST997,Male,52,Beauty,3,30,90
997,998,29-10-2023,CUST998,Female,23,Beauty,4,25,100
998,999,05-12-2023,CUST999,Female,36,Electronics,3,50,150
999,1000,12-04-2023,CUST1000,Male,47,Electronics,4,30,120

In [7]:
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100

In [8]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [9]:
df.shape

(1000, 9)

In [10]:
df.drop_duplicates()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,16-05-2023,CUST996,Male,62,Clothing,1,50,50
996,997,17-11-2023,CUST997,Male,52,Beauty,3,30,90
997,998,29-10-2023,CUST998,Female,23,Beauty,4,25,100
998,999,05-12-2023,CUST999,Female,36,Electronics,3,50,150
999,1000,12-04-2023,CUST1000,Male,47,Electronics,4,30,120

In [11]:
df.isna().sum()

Transaction ID      0
Date                0
Customer ID         0
Gender              0
Age                 0
Product Category    0
Quantity            0
Price per Unit      0
Total Amount        0
dtype: int64

In [13]:
df.isna().sum().sum()

np.int64(0)

In [14]:
df.dropna()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,24-11-2023,CUST001,Male,34,Beauty,3,50,150
1,2,27-02-2023,CUST002,Female,26,Clothing,2,500,1000
2,3,13-01-2023,CUST003,Male,50,Electronics,1,30,30
3,4,21-05-2023,CUST004,Male,37,Clothing,1,500,500
4,5,06-05-2023,CUST005,Male,30,Beauty,2,50,100
...,...,...,...,...,...,...,...,...,...
995,996,16-05-2023,CUST996,Male,62,Clothing,1,50,50
996,997,17-11-2023,CUST997,Male,52,Beauty,3,30,90
997,998,29-10-2023,CUST998,Female,23,Beauty,4,25,100
998,999,05-12-2023,CUST999,Female,36,Electronics,3,50,150
999,1000,12-04-2023,CUST1000,Male,47,Electronics,4,30,120

In [38]:
X=df[["Quantity", "Price per Unit"]]

In [39]:
X

     Quantity  Price per Unit
0           3              50
1           2             500
2           1              30
3           1             500
4           2              50
..        ...             ...
995         1              50
996         3              30
997         4              25
998         3              50
999         4              30

[1000 rows x 2 columns]

In [40]:
y=df['Total Amount']

In [41]:
y

0       150
1      1000
2        30
3       500
4       100
       ...
995      50
996      90
997     100
998     150
999     120
Name: Total Amount, Length: 1000, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [43]:
model= LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [44]:
y_pred= model.predict(X_test)

In [45]:
y_pred

array([1344.97902338,   44.77722781,  487.46031934,  342.08293242,
       1524.7548201 ,  174.75631347, -134.99856891,  487.46031934,
        404.32882125, 1165.20322666,  162.3071357 ,   44.77722781,
        667.23611606, -184.79527997,  487.46031934,   -5.01948325,
       1524.7548201 ,   -5.01948325,  -17.46866102, 1026.7877095 ,
        847.01191278,  342.08293242, 1344.97902338,   -5.01948325,
       1344.97902338, -197.24445774,  -17.46866102,  847.01191278,
        404.32882125,  162.3071357 , -197.24445774, -184.79527997,
        162.3071357 ,  342.08293242, -197.24445774, 1344.97902338,
        342.08293242, -197.24445774, -134.99856891,  224.55302453,
        342.08293242, 1165.20322666, 1344.97902338,  404.32882125,
        404.32882125,  342.08293242,  487.46031934,  487.46031934,
        667.23611606,  667.23611606, -134.99856891, 1165.20322666,
        354.53211019, -184.79527997,  487.46031934, 1026.7877095 ,
       -134.99856891,   44.77722781,  354.53211019,  487.46031934,
       1165.20322666,  354.53211019,  667.23611606,  404.32882125,
       1165.20322666, 1344.97902338, 1026.7877095 ,  985.42742994,
        342.08293242, -197.24445774,  162.3071357 ,  404.32882125,
        342.08293242, 1524.7548201 ,  174.75631347,  667.23611606,
        162.3071357 , -134.99856891,  847.01191278, 1026.7877095 ,
        847.01191278, 1026.7877095 ,  342.08293242,  487.46031934,
        985.42742994,   44.77722781,  224.55302453,  342.08293242,
        342.08293242,   44.77722781,  174.75631347, 1344.97902338,
        487.46031934,  174.75631347,  847.01191278, 1026.7877095 ,
        404.32882125, 1524.7548201 ,  342.08293242,  847.01191278,
        985.42742994, 1165.20322666,  985.42742994, 1524.7548201 ,
       1344.97902338,  354.53211019,  487.46031934,   -5.01948325,
       1344.97902338,  174.75631347,  224.55302453,  354.53211019,
       1165.20322666,  404.32882125,   44.77722781,  404.32882125,
       -197.24445774, -197.24445774,  174.75631347,  847.01191278,
       -134.99856891,  224.55302453,  985.42742994,  -17.46866102,
        985.42742994, -134.99856891,  404.32882125, -134.99856891,
        487.46031934,  404.32882125, 1165.20322666, 1165.20322666,
         -5.01948325, -134.99856891,  354.53211019,  847.01191278,
        404.32882125,   44.77722781, 1165.20322666,  174.75631347,
       -184.79527997,  847.01191278,  847.01191278,  404.32882125,
       -184.79527997,  174.75631347,  -17.46866102,  174.75631347,
         44.77722781,  985.42742994,  162.3071357 ,  404.32882125,
        224.55302453,  847.01191278, 1344.97902338, 1344.97902338,
       -197.24445774,  487.46031934,  404.32882125,  354.53211019,
        487.46031934,  162.3071357 , -184.79527997,  224.55302453,
       -134.99856891, 1026.7877095 , 1165.20322666,  847.01191278,
         -5.01948325,  342.08293242, -197.24445774, 1524.7548201 ,
       1344.97902338, 1165.20322666, 1524.7548201 ,  985.42742994,
       -184.79527997,   -5.01948325,  342.08293242,  847.01191278,
         -5.01948325,  224.55302453,  487.46031934,  -17.46866102,
       -134.99856891,  404.32882125, 1344.97902338,   44.77722781,
       1026.7877095 ,  162.3071357 ,  -17.46866102,  224.55302453,
       -197.24445774,  224.55302453,   -5.01948325,  847.01191278,
       1026.7877095 ,  404.32882125, 1026.7877095 ,  487.46031934])

In [46]:
mse= mean_squared_error(y_test, y_pred)

In [47]:
mse

41860.813172886454

In [48]:
r2=r2_score(y_test, y_pred)

In [49]:
r2

0.8569981574765706